{% extends 'webapp/base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<form method="post" action="{% url 'add_course' user_id=user.id %}">
    {% csrf_token %}
<div class="columns py-6 px-6">
    <div class="column is-one-quarter">
      </div>
      <div class="column">
        <h5 class="title is-2">{{user.firstname}} {{user.lastname}} {{user.middlename}}</h5>
        <div class="columns">
          <div class="column">
            <div class="py-2">Название курса</div>
            <div class="py-2">Организация</div>
            <div class="py-2">Подтверждающий документ</div>
          </div>
          <div class="column">
            <input
            class="input"
            type="text"
            name = "name"
            placeholder=""
            value=""
            />
            <input
            class="input"
            type="text"
            name = "organize"
            placeholder=""
            value=""
            />
            <input
            class="input"
            type="text"
            name = "dock"
            placeholder=""
            value=""
            />
            </div>
          </div>
        </div>
      </div>
</div>
<div class="field has-text-centered">
  <button type="submit" class="button enter-button">Сохранить</button>
</div>
</form>
{% endblock %}
