{% extends 'webapp/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
		<div class="rows">
            <div class="row">
                <div class="box is-square"></div>
            </div>
            <div class="row m-5">
                <div class="title is-size-1">Бот рецептов</div>
            </div>
            <div class="row m-5">
                <div class="subtitle is-size-4">Ключевые слова:</div>
                <span class="tag is-info">Python</span>
                <span class="tag is-info">Telegram</span>
                <span class="tag is-info">Ольга</span>
                <span class="tag is-info">Бот</span>
                <span class="tag is-info">Олег</span>
            </div>
            
            
            <div class="row m-5">
                <div class="subtitle">Telegram-бот "Кулинарный блог" по поиску рецептов. Как это работает? При запуске программы пользователю требуется выбрать прием пищи, который ему интересен и тип блюда - вегетерианский или нет. После выбора блюда бот показывает пользователю 5 рецептов, если они его не устраивают, то можно выйти в основное меню или загрузить еще 5 рецептов.</div>
            </div>
            <div class="row m-5">
                <table class="table ">
                    <tbody>
                        <tr>
                            <th>Команда</th>
                            <td>Ольга, Олег, Даша, маша, аня, алексис</td>
                        </tr>
                        <tr>
                            <th>Информация об участниках</th>
                            <td><strong>Тимлид:</strong> Ольга <strong>Дизайн:</strong> Даша, <strong>Код:</strong> Аня</td>
                        </tr>
                        <tr>
                            <th>Стек технологий</th>
                            <td>Python (libreries)</td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            
        </div>
<style>
 body {
    background: linear-gradient(#FFFFFF, #195ae02b); /* Замените #FFA500 на цвет, который вы хотите использовать */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
    width: 100%; /* Растягиваем по ширине на 100% экрана */
    height: 100vh; /* Растягиваем по высоте на 100% высоты экрана */
	}
	.custom-padding {
            padding: 30px; /* Измените значение отступа по своему усмотрению */
        }
    .box{
        min-width: 500px;
        min-height: 200px;
		
    }
    .authorization-panel{
        padding-top: 150px;
    }
    .enter-button{
        background-color: #427cf329;
        width: 100px;
    }
    .box {
   background-image:url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg);
   background-position:center center;
   background-size:cover;
   width:100%;
   border-radius: 0;
   height:calc(100% - 10px);
}
</style>
{% endblock %}

