{% extends 'webapp/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

		<div class="columns ">
    <div class="column is-7 py-6 px-6" style="font-size: 22px;">
        <p class="has-text-weight-bold">Кафедра цифровых технологий в урбанистике, архитектуре и строительстве</p>
        <p style="font-size: 14px;">Образована в 2021 году</p>
		<br>
        <p style="font-size: 16px;">Данная система демонстрирует портфолио для помощи в поиске будущего работодателя!</p>
    </div>

    <div class="column is-6 is-offset-1 is-4 custom-padding">
        <img src="http://istvstu.ru/img/svg/logo-header.svg" alt="Лого" style="width: 40%;">
    </div>
</div>

{% endblock %}