<!--1. Цвет "Главная" и "Проекты" при наведении на них курсора
    2. Переместить ФИО
    3. Оценку преподавателя и самостоятельную оценку сделать по центру
    4. Вторую колонку (место учёбы, год поступления и тд) подвинуть чуть ниже и левее-->
<!DOCTYPE html>
<html class="has-background-grey-lighter">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a
          class="navbar-item has-background-dark has-text-white"
          href="главная-страница-ссылка"
          >Главная</a
        >
        <a
          class="navbar-item has-background-dark has-text-white"
          href="страница-проекты-ссылка"
          >Профиль</a
        >
        <a
          class="navbar-item has-background-dark has-text-white"
          href="страница-проекты-ссылка"
          >Проекты</a
        >
        <a
          class="navbar-item has-background-dark has-text-white"
          href="страница-проекты-ссылка"
          >Преподавательский состав</a
        >
      </div>
      <div class="navbar-end">
        <div class="navbar-item is-hoverable">
          <div class="field">
            <div class="control">
              <input
                class="input input-field"
                type="search"
                placeholder="Поиск"
              />
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <a class="profile-href" href="ссылка-на-профиль">Иван Иванов</a>
        </div>
        <div class="navbar-item">
          <a href="ссылка-на-профиль">
            <img
              src="https://cdn1.ozone.ru/s3/multimedia-7/6451057399.jpg"
              alt="Фото пользователя"
            />
          </a>
        </div>
      </div>
    </nav>
    <nav class="breadcrumb is-centered pt-4 has-text-dark" aria-label="breadcrumbs">
      <ul>
        <li><a href="#study">Учебные предметы</a></li>
        <li><a href="#project">Участие в проектах</a></li>
        <li><a href="#course">Пройденные курсы</a></li>
        <li><a href="#publication">Научные публикации</a></li>
        <li><a href="#reward">Награды</a></li>
      </ul>
    </nav>
    <div class="columns py-6 px-6">
      <div class="column is-one-quarter">
        <img
          src="https://cdn1.ozone.ru/s3/multimedia-7/6451057399.jpg"
          alt="Фото пользователя"
        />
      </div>
      <div class="column">
        <h5 class="title is-2">Иванов Иван Иванович</h5>
        <div class="columns">
          <div class="column">
            <div class="py-2">Почта:</div>
            <div class="py-2">Телефон:</div>
            <div class="py-2">О себе:</div>
            <div class="py-2">Скиллы:</div>
          </div>
          <div class="column">
            <div class="py-2">ivanov@gmail.com</div>
            <div class="py-2">+7 123 456 78 90</div>
            <div class="py-2">люблю сухой корм с курицей</div>
            <div class="py-2">Знаю C# и тд</div>
          </div>
          <div class="column">
            <div class="py-2">Место учёбы:</div>
            <div class="py-2">Год поступления:</div>
            <div class="py-2">Факультет:</div>
            <div class="py-2">Курс:</div>
            <div class="py-2">Группа:</div>
          </div>
          <div class="column">
            <div class="py-2">ВолгГТУ</div>
            <div class="py-2">2020</div>
            <div class="py-2">ФАиГР</div>
            <div class="py-2">4</div>
            <div class="py-2">ИСТ-1-20</div>
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <button class="button portfolio-button">Посмотреть портфолио</button>
      </div>
    </div>

    <div class="row table-row">
      <div class="field has-text-left">
        <h5 id="study" class="title is-3 py-3 px-4">Учебные предметы</h5>
      </div>

      <div class="profile-tabels columns is-left">
        <table class="table study-obj is-centered">
          <thead>
            <tr>
              <th><abbr title="title">Работа</abbr></th>
              <th>
                <abbr title="score has-text-centered"
                  >Оценка преподавателя</abbr
                >
              </th>
              <th><abbr title="my-score">Самостоятельная оценка</abbr></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Работа 1</td>
              <td>90</td>
              <td>Интересно</td>
            </tr>
            <tr>
              <td>Работа 2</td>
              <td>80</td>
              <td>Неинтересно</td>
            </tr>
            <tr>
              <td>Работа 3</td>
              <td>76</td>
              <td>Неинтересно</td>
            </tr>
            <tr>
              <td>Работа 4</td>
              <td>100</td>
              <td>Неинтересно</td>
            </tr>
            <tr>
              <td>Работа 5</td>
              <td>98</td>
              <td>Интересно</td>
            </tr>
            <tr>
              <td>Работа 6</td>
              <td>85</td>
              <td>Интересно</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="rows">
      <div class="row table-row">
        <div class="field has-text-left">
          <h5 id="project" class="title is-3 py-3 px-4">Участие в проектах</h5>
        </div>

        <div class="profile-tabels columns is-left">
          <table class="table is-bordered study-obj is-centered">
            <thead>
              <tr>
                <th><abbr title="title">Название проекта</abbr></th>
                <th><abbr title="date">Дата</abbr></th>
                <th><abbr title="link">GitHub</abbr></th>
                <th><abbr title="description">Описание проекта</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Умный дом</td>
                <td>12.09.2021-27.12.2021</td>
                <td>https://github.com/</td>
                <td>В данном проекте представлен пример системы Умный дом</td>
              </tr>
              <tr>
                <td>Проект</td>
                <td>Дата работы</td>
                <td>Ссылка на проект</td>
                <td>Краткое описание</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row table-row">
        <div class="field has-text-left">
          <h5 id="course" class="title is-3 py-3 px-4">Пройденные курсы</h5>
        </div>

        <div class="profile-tabels columns is-left">
          <table class="table study-obj is-bordered is-centered">
            <thead>
              <tr>
                <th><abbr title="title">Название курса</abbr></th>
                <th><abbr title="date">Дата</abbr></th>
                <th><abbr title="certificate">Сертификат</abbr></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Изучение Pyton для чайников</td>
                <td>22.03.2022-22.09.2022</td>
                <td>*ПДФ-файл*</td>
              </tr>
              <tr>
                <td>Курс</td>
                <td>Дата прохождения</td>
                <td>Сертификат об обучении</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row table-row">
      <div class="field has-text-left">
        <h5 id="publication" class="title is-3 py-3 px-4">Научные публикации</h5>
      </div>
      <div class="content">
        <ol type="1">
          <li>
            Литвенкова И.А. Экология городской среды: урбоэкология. Издательство
            УО «ВГУ им.ю П.М.Машерова», 2005. 163 с.
          </li>
          <li>
            Байтелова А. И., Гарицкая М. Ю., Чекмарева О. В. Экологические
            особенности городской среды. 2012. 216 с.
          </li>
          <li>
            Ле Минь Туан, Шукуров И.С., Гельманова М.О., Слесарев М.Ю. расчет
            интенсивности теплового острова в мегаполисах с помощью
            моделирования в программе ENVI-met // Вестник МГСУ. 2020. Т. 15.
            Вып. 9. С. 1262–1273.
          </li>
        </ol>
      </div>
      <div class="field has-text-left">
        <h5 id="reward" class="title is-3 py-3 px-4">Награды</h5>
      </div>
      <div class="content">
        <ol type="1">
          <li>Диплом 1 место на конференции</li>
          <li>Диплом 2 место на конференции</li>
          <li>Диплом 3 место на конференции</li>
        </ol>
      </div>
    </div>
  </body>
</html>
<style>
  .input-field {
    width: 500px;
  }
  .profile-href {
    color: white;
  }
  .profile-href:hover {
    color: #faab36;
  }
  .portfolio-button {
    width: 100%;
    background-color: #faab36;
  }
  .profile-tabels {
    margin: 20px;
  }
  .table-row {
    padding-bottom: 20px;
  }
  .study-obj {
    min-width: 100%;
  }
</style>
<script>
  document.querySelector('a[href^="#"]').addEventListener('click', function (e) {
    e.preventDefault(); // Отменить стандартное действие ссылки

    const targetId = this.getAttribute('href').substring(1); // Получить id якоря
    const targetElement = document.getElementById(targetId); // Получить элемент с указанным id

    if (targetElement) {
      targetElement.scrollIntoView({ behavior: 'smooth' }); // Прокрутить к элементу
    }
  });
</script>
