<!DOCTYPE html>
<html class="has-background-grey-lighter">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <nav class="navbar ">
      <div class="navbar-brand">
        
          <a class="navbar-item ">
            <img src="http://istvstu.ru/img/svg/logo-header.svg" class="nav__logo-image" width="65" height="74"alt="Logo" >
			<div class="tekst_sverhu_kartinki">Кафедра ЦТУАС</div>
          </a>
        <a
          class="navbar-item has-background has-text-black"
          href="главная-страница-ссылка"
          >Главная</a
        >
        <a
          class="navbar-item has-background has-text-black"
          href="страница-проекты-ссылка"
          >Профиль</a
        >
        <a
          class="navbar-item has-background has-text-black"
          href="страница-проекты-ссылка"
          >Проекты</a
        >
        <a
          class="navbar-item has-background has-text-black"
          href="страница-проекты-ссылка"
          >Преподавательский состав</a
        >
      </div>
      <div class="navbar-end">
        <div class="navbar-item is-hoverable">
          <div class="field">
            <div class="control">
              <input
                class="input input-field"
                type="search"
                placeholder="Поиск"
              />
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <a class="profile-href has-text-black " href="ссылка-на-профиль">Имя Фамилия</a>
        </div>
        <div class="navbar-item ">
          <a href="ссылка-на-профиль">
		  <img class="is-rounded" src="https://img.icons8.com/?size=80&id=sTe2gqf95B1e&format=png" alt="Фото пользователя">
            
          </a>
        </div>
      </div>
    </nav>

    <div class="columns mx-4 my-4">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
            <div class="content">
              Ключевые слова: питон
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
            <div class="content">
              Ключевые слова: питон
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
            <div class="content">
              Ключевые слова: питон
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
            <div class="content">
              Ключевые слова: питон
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
            <div class="content">
              Ключевые слова: питон
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
<style>
  body {
    background: linear-gradient(#FFFFFF, #195ae02b); /* Замените #FFA500 на цвет, который вы хотите использовать */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
    width: 100%; /* Растягиваем по ширине на 100% экрана */
    min-height: 100vh; /* Растягиваем по высоте на 100% высоты экрана */
	}
  .input-field {
    width: 500px;
  }
  .profile-href {
    color: white;
  }
  .profile-href:hover {
    color: #faab36;
  }
  .project-box {
    min-height: 300px;
  }
</style>
