{% extends 'webapp/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="section">
    <div class="columns is-multiline">
      <div class="column is-2">
        {% for project in data %}
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left"></div>
            <div class="media-content">
              <p class="title is-4">{{ project.project_name }}</p>
            </div>
          </div>

          <div class="content">
            {{ project.status }}
          </div>

          <div class="content">
            {{ project.about_project }}
          </div>
          <div class="content">
            Руководитель проекта: {{ project.project_admin }}
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Подробнее</a>
        </footer>
      </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
