<!DOCTYPE html>
<html class="has-background-grey-lighter">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <div class="navbar-item pl-5 has-text-black" href="https://bulma.io">
          <h5 class="title is-5 has-text-white">Название сайта</h5>
        </div>
        <a
          class="navbar-item has-background-dark has-text-white"
          href="главная-страница-ссылка"
          >Главная</a
        >
        <a
          class="navbar-item has-background-dark has-text-white"
          href="страница-проекты-ссылка"
          >Профиль</a
        >
        <a
          class="navbar-item has-background-dark has-text-white"
          href="страница-проекты-ссылка"
          >Проекты</a
        >
        <a
          class="navbar-item has-background-dark has-text-white"
          href="страница-проекты-ссылка"
          >Преподавательский состав</a
        >
      </div>
      <div class="navbar-end">
        <div class="navbar-item is-hoverable">
          <div class="field">
            <div class="control">
              <input
                class="input input-field"
                type="search"
                placeholder="Поиск"
              />
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <a class="profile-href" href="ссылка-на-профиль">Иван Иванов</a>
        </div>
        <div class="navbar-item">
          <a href="ссылка-на-профиль">
            <img
              src="https://cdn1.ozone.ru/s3/multimedia-7/6451057399.jpg"
              alt="Фото пользователя"
            />
          </a>
        </div>
      </div>
    </nav>
    <div class="columns mx-4 my-4">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left"></div>
              <div class="media-content">
                <p class="title is-4">Сайт с котиками</p>
              </div>
            </div>

            <div class="content">
              Сайт разработанный для котиков Сайт разработанный для котиков
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Подробнее</a>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
<style>
  .input-field {
    width: 500px;
  }
  .profile-href {
    color: white;
  }
  .profile-href:hover {
    color: #faab36;
  }
  .project-box {
    min-height: 300px;
  }
</style>
