{% extends 'webapp/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
 <!-- Раздел фильтра -->
<div class="section">
	{% if show_dropdownStudents %}
		<div class="columns is-centered">
			<div class="column is-4">
				<label for="category">Факультет:</label>
				<select id="category">
					<option value="all">Все</option>
					<option value="category1">ФАиГР</option>
					<option value="category2">ФСиЖКХ</option>
					<option value="category3">ФТиСТБ</option>
				</select>
			</div>
			<div class="column is-3">
				<label for="course">Курс:</label>
				<select id="course">
					<option value="all">Все</option>
					<option value="course1">1</option>
					<option value="course2">2</option>
					<option value="course3">3</option>
					<option value="course4">4</option>
				</select>
			</div>
			<div class="column is-3">
				<label for="technology">Стек технологий:</label>
				<select id="technology">
					<option value="all">Все</option>
					<option value="tech1">c++</option>
					<option value="tech2">python</option>
					<option value="tech3">java script</option>
					<option value="tech4">c#</option>
				</select>
			</div>
		</div>
		<div class="field has-text-centered">
			<button class="button enter-button" onclick="applyFilters()">Применить</button>
		</div>
	{% endif %}
	{% if show_dropdownProjects %}
		<div class="columns is-centered">
			<div class="column is-4">
				<label for="categoryProjects">Статус:</label>
				<select id="categoryProjects">
					<option value="allProjects">Все</option>
				</select>
			</div>
			<div class="column is-3">
				<label for="technologyProjects">Стек технологий:</label>
				<select id="technologyProjects">
					<option value="allProjects">Все</option>
					<option value="techProjects1">c++</option>
					<option value="techProjects2">python</option>
					<option value="techProjects3">java script</option>
					<option value="techProjects4">c#</option>
				</select>
			</div>
		</div>
		<div class="field has-text-centered">
			<button class="button enter-button" onclick="applyFiltersProjects()">Применить</button>
		</div>
	{% endif %}
	<h1>Результаты поиска</h1>
	<span id="DBName" ><p>Искать по базе: {{ DBName }}</p></span>
    <span id="query"><p>Введенный запрос: "{{ query }}"</p></span>
</div>




<div class="projectSection">
	<div class="section">
		<div class="columns is-multiline">
			{% for project in dataAnProjects %}
				<div class="column is-2">
					<div class="card">
						<div class="card-image">
							<figure class="image is-4by3">
								<img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg" alt="Placeholder image" />
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-left"></div>
								<div class="media-content">
									<p class="title is-4">{{ project.project_name }}</p>
								</div>
							</div>
							<div class="content">
								{{ project.about_project }}
							</div>
							<div class="content">
								Ключевые слова: {{ project.status }}
							</div>
						</div>
						<footer class="card-footer">
							<a href="#" class="card-footer-item">Подробнее</a>
						</footer>
					</div>
				</div>
			{% endfor %}
		</div>
		
		
		<div class="columns is-multiline">
			{% for extracurricular in dataAnExtracurricular %}
				<div class="column is-2">
					<div class="card">
						<div class="card-image">
							<figure class="image is-4by3">
								<img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg" alt="Placeholder image" />
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-left"></div>
								<div class="media-content">
									<p class="title is-4">{{ extracurricular.course_name }}</p>
								</div>
							</div>
							<div class="content">
								{{ extracurricular.description }}
							</div>
							<div class="content">
								Ключевые слова: {{ extracurricular.access_code }}
							</div>
						</div>
						<footer class="card-footer">
							<a href="#" class="card-footer-item">Подробнее</a>
						</footer>
					</div>
				</div>
			{% endfor %}
		</div>
	  
	  
		<div class="columns is-multiline">
			{% for student in dataAnStudents %}
				<div class="column is-2">
					<div class="card">
						<div class="card-image">
							<figure class="image is-4by3">
								<img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg" alt="Placeholder image" />
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-left"></div>
								<div class="media-content">
									<p class="title is-4">{{ student.firstname }} {{ student.middlename }} {{ student.lastname }}</p>  <!-- Замените на соответствующее поле из вашей модели данных -->
								</div>
							</div>
							<div class="content">
								{{ student.email }}
							</div>
						</div>
						<footer class="card-footer">
							<a href="#" class="card-footer-item">Подробнее</a>
						</footer>
					</div>
				</div>
			{% endfor %}
		</div>
		
		
		<div class="columns is-multiline">
			{% for student in dataAnPublications %}
				<div class="column is-2">
					<div class="card">
						<div class="card-image">
							<figure class="image is-4by3">
								<img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg" alt="Placeholder image" />
							</figure>
						</div>
						<div class="card-content">
							<div class="media">
								<div class="media-left"></div>
								<div class="media-content">
									<p class="title is-4">{{ student.name }}</p>  <!-- Замените на соответствующее поле из вашей модели данных -->
								</div>
							</div>
							<div class="content">
								Год: {{ student.year_of_issue }}
							</div>
							<div class="content">
								Уровень публикации: {{ student.publication_level }}
							</div>
							<div class="content">
								Журнал: {{ student.journal }}
							</div>
							<div class="content">
								Авторы: {{ student.authors }}
							</div>
						</div>
						<footer class="card-footer">
							<a href="#" class="card-footer-item">Подробнее</a>
						</footer>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>	
</div>

<script>
	function UnderBox() {
		var selectedCategoryProjects = document.getElementById('categoryProjects').value;
		var selectedTechnologyProjects = document.getElementById('technologyProjects').value;
		var query = document.querySelector('#query p').innerText.split(":")[1].trim();
		var DBName = document.querySelector('#DBName p').innerText.split(":")[1].trim();
		
		var statusOptions = [];
		
		fetch(`/search_view/?selectedCategoryProjects=${selectedCategoryProjects}&selectedTechnologyProjects=${selectedTechnologyProjects}&query=${query}&DBName=${DBName}`)
		.then(response => response.json())
		.then(data => {
			statusOptions = data.dataAnProjects.map(project => project.status)
			.filter((value, index, self) => {
				return self.indexOf(value) === index;
			});
			var selectElement = document.getElementById('categoryProjects');
			for (var i = 0; i < statusOptions.length; i++) {
				var option = document.createElement("option");
				option.value = statusOptions[i];
				option.text = statusOptions[i];
				selectElement.appendChild(option);
				}
		});
	}
	document.addEventListener("DOMContentLoaded", function() {
		UnderBox(); 
	});
    function applyFiltersProjects() {
		var selectedCategoryProjects = document.getElementById('categoryProjects').value;
		var selectedTechnologyProjects = document.getElementById('technologyProjects').value;
		var query = document.querySelector('#query p').innerText.split(":")[1].trim();
		var DBName = document.querySelector('#DBName p').innerText.split(":")[1].trim();
		
		var statusOptions = [];
		
		fetch(`/search_view/?selectedCategoryProjects=${selectedCategoryProjects}&selectedTechnologyProjects=${selectedTechnologyProjects}&query=${query}&DBName=${DBName}`)
		.then(response => response.json())
		.then(data => {
			var sectionDiv = document.querySelector('.projectSection');
			sectionDiv.innerHTML = `
				<div class="section">
					<div class="columns is-multiline">
						${data.dataAnProjects.map(project => 
							`<div class="column is-2">
								<div class="card">
									<div class="card-image">
										<figure class="image is-4by3">
											<img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612935315_80-p-fon-abstraktsiya-geometriya-krasnii-98.jpg" alt="Placeholder image" />
										</figure>
									</div>
									<div class="card-content">
										<div class="media">
											<div class="media-left"></div>
											<div class="media-content">
												<p class="title is-4">${project.project_name}</p>
											</div>
										</div>
										<div class="content is-clipped">
											${project.about_project}
										</div>
										<div class="content">
											Ключевые слова: ${project.status}
										</div>
									</div>
									<footer class="card-footer">
										<a href="#" class="card-footer-item">Подробнее</a>
									</footer>
								</div>
							</div>`
						).join('')}
					</div>
				</div>
			`;
		});
    }
    function applyFilters() {
		  var selectedCategory = document.getElementById('category').value;
		  var selectedCourse = document.getElementById('course').value;
		  var selectedTechnology = document.getElementById('technology').value;
		
			fetch('/search_view/')
			.then(response => response.json())
			.then(data => {
			  data.forEach(item => {
				var dataDiv = document.createElement('div');
				dataDiv.textContent = 'Данные из базы данных: ' + JSON.stringify(item);
				document.querySelector('.section').appendChild(dataDiv);
			  });
			});
	}
  </script>
{% endblock %}