{% extends 'webapp/base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<form method="post" action="{% url 'settings' user_id=user.id %}">
    {% csrf_token %}
<div class="columns py-6 px-6">
    <div class="column is-one-quarter">
        <img
          src="https://cs6.pikabu.ru/avatars/1121/x1121129-2144512139.png"
          alt="Фото пользователя"
        />
      </div>
      <div class="column">
        <h5 class="title is-2">{{user.firstname}} {{user.lastname}} {{user.middlename}}</h5>
        <div class="columns">
          <div class="column">
            <div class="py-2">Почта:</div>
            <div class="py-2">Телефон:</div>
          </div>
          <div class="column">
            <input
            class="input"
            type="email"
            name = "email_field"
            placeholder="Почта"
            value="{{ user.email }}"
            />
            <input
            class="input"
            type="text"
            name = "phone_number_field"
            placeholder="Номер телефона"
            value="{{ user.phone_number }}"
            />
            </div>
          <div class="column">
            <div class="py-2">Место учёбы:</div>
            <div class="py-2">Год поступления:</div>
            <div class="py-2">Факультет:</div>
            <div class="py-2">Курс:</div>
            <div class="py-2">Группа:</div>
          </div>
          <div class="column">
            <input
            class="input"
            type="text"
            name = "university_field"
            placeholder="Место учёбы"
            value="{{ user.university }}"
            />
            <input
            class="input"
            type="number"
            name = "year_field"
            placeholder="Год поступления"
            value="{{ user.year }}"
            />
            <input
            class="input"
            type="number"
            name = "course_field"
            placeholder="Курс"
            value="{{ user.course }}"
            />
            <input
            class="input"
            type="text"
            name = "group_field"
            placeholder="Группа"
            value="{{ user.group }}"
            />
          </div>
        </div>
      </div>
</div>
<div class="columns py-4 px-4">
    <div class="column">
            <input
            class="input"
            type="text"
            name = "about_me_field"
            placeholder="О себе"
            value="{{ user.about_me }}"
            />
      </div>
</div>
<div class="field has-text-centered">
  <button type="submit" class="button enter-button">Сохранить</button>
</div>
</form>
{% endblock %}
